<div class="single_comment">
<% if comment.user.profile_picture.attached? %>
    <img src="<%=url_for(comment.user.profile_picture)%>", class='profile_image'>
    
    <%else%>
    <img src="../assets/placeholder_avatar.png" alt="" class="profile_image">
    <%end%>
<div class="full_comment">
  <div class="comment_author">
    <%= comment.user.name%> <%=comment.user.surname%>
  </div>
  <div class="comment_message">
    <%= comment.content%> 
  </div>  
</div>
</div>