<div class="friends">
<h2>Friends :</h2>
<% current_user.friends.each do |friend| %>
<%= render partial: 'users/user', locals: { user: friend } %>
<%end%>
</div>

<div class="pending_invitations">
<div class="to_you">
  <% invites = Invitation.where(friend_id: current_user.id, confirmed: false)%>
  <% invites.each do |invitation|%>
  <%= render partial: 'invitations/invitation', locals: { invitation: invitation}%>
  <%end%>
</div>
</div>