<div class="friends">
<h2>Friends :</h2>
<% current_user.friends.each do |friend| %>
<%= render partial: 'users/user', locals: { user: friend } %>
<%end%>
</div>

<div class="pending_invitations">
<div class="from_you"></div>
<div class="to_you"></div>
</div>