.container-sm.log-in {
  max-width: 396px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  height: 456px;
  width: 396px;
  border-radius: 15px;
  padding: 0px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.container-sm.sign-up {
  max-width: 396px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  height: 570px;
  width: 396px;
  border-radius: 15px;
  padding: 0px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

div.input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

svg#Layer_1 {
  height: 120px;
  align-self: start;
}


svg#Layer_2 {
  height: 120px;
  align-self: start;
}

input.form-control {
  line-height: 48px;
}

form.new_user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

form.edit_user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

div.actions>input[type="submit"] {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

div.gray_line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 0px 16px 20px 16px;
  text-align: center;
}

html {
  background-color: rgb(228, 227, 227);
}

html body{
  font-family: 'Roboto', sans-serif;
}

a.sign_up_link,
a.log_in_link {
  background-color: #42b72a;
  border-color: #42b72a;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

a.link {
  text-decoration: none;
  color: #212529;
}

div > a { 
  text-decoration: none;
  color: #212529;
}

a.forgotten_password_link {
  color: #1877f2;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

svg.home_icon_active,
svg.friends_icon_active {
  border-bottom: #1877f2 solid 3px;
  padding: 12px;
  display: flex;
  box-sizing: content-box;
}

svg.home_icon,
svg.friends_icon {
  padding: 12px;
  display: flex;
  box-sizing: content-box;
  border-bottom: 3px solid #fff;
}

div.nav_menu_items {
  display: flex;
}

div.nav_links {
  display: flex;

}

nav.bg-body-tertiary.navbar.navbar-expand-lg {
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar_menu_icon {
  background-color: rgb(228, 227, 227);
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50%;
  margin-right: 5px;
}

li>svg.navbar_menu_icon {
  margin: 5px;
}

li {
  list-style-type: none;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

ul.dropdown-menu.dropdown-menu-end.show {
  margin-bottom: 0px;
  padding-bottom: 5px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

input#user_profile_picture {
  color: red;
}

input#file-upload-button {
  color: red;
}

div#error_explanation {
  font-family: 'Roboto', sans-serif;
}

img.profile_image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

div.main {
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 227, 227);;
}

::file-selector-button{
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #1877f2;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  border: none;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
}

div.post{
  width: 600px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  background-color: #ffffff;
  margin-top: 20px;
}

div.post>div.author {
  padding: 20px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

div.post>div.post_body{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 100px;
  overflow: scroll;
}

div.post>div.post_images{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

div.post_images>img{
  margin: 2px;
}

div.post_creation {
  width: 600px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  background-color: #ffffff;
  margin-top: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

div.post_creation > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

div.post_creation > div.post_creation_heading {
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
}

div.post_creation > div.post_creation_heading > a {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: rgb(228, 227, 227);
  border-radius: 50%;

}
div.post_creation > div.post_creation_heading > h4 {
 margin-bottom: 0px;
 margin-top: 15px;

}


div.full_comment{
  display: flex;
  background-color: rgb(228, 227, 227);
  border-radius: 20px;
  padding: 8px 12px 8px 12px;
  flex-basis: auto;
  overflow-y: scroll;
  flex-direction: column;
  max-height: 100px;
  margin-left: 7px;

}

div.single_comment{
  display: flex;
  margin: 20px 20px 0px 15px;
  font-size: 14px;
}

div.comment_author{
  font-weight: 700;
}


#inputComment{
  flex-grow: 1;
  padding: 9px;
  border-radius: 20px;
  background-color: rgb(228, 227, 227);
  border: none;
  margin-left: 7px;
}

#comment_submit_button{
  display: none;
}

div.comment_input_field {
  display: flex;
  padding: 10px;
  padding-bottom: 0px;
}

div.comment_input_field > form {
  display: flex;
  width: 100%;
}

div.comments{
  padding-bottom: 20px;
  max-height: 300px;
  overflow: scroll;
}

#likes{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

}
div.like_count{
  vertical-align: middle;
  text-align: center;
  height: 100%;
  line-height: 3;
}






